.form-container{
    justify-content:center;
    -webkit-justify-content:center;
    height:100%;
}
.form-box{
    width:400px;
}
.input-100{
    padding:14px;
    border:1px solid #e9ecef;
    outline:none;
    border-radius:2px;
}
.input-100:focus{
    outline:none;
}
.input-pass{
    width:calc(100% - 40px);
    border-right:none;
    border-radius:2px;
}
.input-span{
    width:40px;
    border:1px solid #e9ecef;
    border-left:none;
    border-radius:2px;
}
.sign-btn{
    padding:14px;
    border:1px solid transparent;
    border-radius:2px;
    color:white;
    background-color:#311B92;
    width:100%;
    font-size:14px;
    transition:.5s;
    font-weight:bolder;
}
.sign-btn:hover{
    transform:translateY(-4px);
}
.label-mar{
    margin-top:15px;
}
@media only screen and (max-width:560px){
    .form-box{
        width:100%;
    }
}